  

<div class="container col-5 mx-auto" >
	<div class="row mb-4">
		<div class="col">
		<%= link_to emails_path, method: :post, data: {remote: true  }, class: "btn btn-primary"  do %>
          Recevoir un email
          <%end %>

		</div>
	</div>
	<div class="row">
		<div class="col">
<table id="myEmail">
	
	<tr>
	<th scope="col">liste d'emails</th>
	<th scope="col">Email selectionné</th>
	</tr>


  <% @emails.each do |email|  %>
  <tr >
  <td id="object"> <%=link_to email_path(email.id), data: {remote: true } do %> <%=email.object%> <%end%> </td>
 <td class="body" id="<%=email.body%>"><p style="font-size: 25px;"><%=email.object%></p><p><%=email.body%></p></td>
</tr>
	<%end%>

</table>
</div>
</div>

</div>

